<header class="header">
  <nav class="navbar">
    <a class="logo" routerLink="/">
      <i class="bx bx-atom"></i>
      <span>QuantumCore</span>
    </a>

    <div class="nav-links">
      <a
        routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <i class="bx bx-home-alt-2"></i>
        <span>Inicio</span>
      </a>
      <a routerLink="/products" routerLinkActive="active">
        <i class="bx bx-cube-alt"></i>
        <span>Productos</span>
      </a>
      <a routerLink="/about" routerLinkActive="active">
        <i class="bx bx-info-circle"></i>
        <span>Nosotros</span>
      </a>
    </div>

    <button class="mobile-menu-btn" (click)="toggleMobileMenu()">
      <i class="bx bx-menu"></i>
    </button>
  </nav>
</header>
